TELEGRAM_BOT_TOKEN=123456:replace_me
DATABASE_PATH=./data/prices.json
RARE_DISCOUNT_THRESHOLD=0.20
MIN_HISTORY_POINTS=10
SCAN_INTERVAL_HOURS=24
TOP_LIMIT_PER_CATEGORY=1000
DEFAULT_CATEGORIES=smartphones,coffee-machines,sneakers
