aiogram==3.10.0
aiosqlite==0.20.0
APScheduler==3.10.4
pydantic-settings==2.4.0
python-dotenv==1.0.1
httpx==0.27.0
beautifulsoup4==4.12.3
playwright==1.45.0
SQLAlchemy==2.0.31
asyncpg==0.29.0
orjson==3.10.6
